@foreach (var video in Videos)
{
    @*<div class="card-body module-video">
        <a href="Video/@video.Id" class="no-text-decoration">
            <div class="media">
                <div class="media-left hidden-xs overflow-hidden">
                    <img src="@video.Thumbnail" width="100">
                </div>
                <div class="media-body">
                    <h5 class="no-margin">@video.Title</h5>
                    <p class="text-muted no-margin">
                        <i class="material-icons vertical-align text-small">alarm</i>
                        <span class="vertical-align text-small">
                        @video.Duration minutes
                        </span>
                    </p>
                    <p class="no-margin">@video.Description</p>
                </div>
            </div>
        </a>
    </div>*@

@*    <a href="Video/@video.Id" class="text-decoration-none text-dark">
        <div class="card p-2 mb-2 w-100 rounded-0">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@video.Thumbnail" class="img-fluid h-75" >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@video.Title</h5>
                        <p class="card-text m-0">@video.Description</p>
                        <p class="card-text"><small class="text-muted"><i class="oi oi-clock"></i> @video.Duration minutes</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>*@

    <a href="Video/@video.Id" class="">
        <div class="d-flex border border-secondary mb-2" style="height:130px">
            <img src="@video.Thumbnail" class="overflow-hidden">
            <div class="d-flex flex-column ms-2 p-4">
                <h5 class="card-title">@video.Title</h5>
                <p class="card-text m-0">@video.Description</p>
                <p class="card-text"><small class="text-muted"><i class="oi oi-clock"></i> @video.Duration minutes</small></p>
            </div>
        </div>
    </a>
}

@code {
    [Parameter] public List<VideoDTO> Videos { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        //Model = await membershipService.GetCourse(Id);
    }   
}
